In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("UFO_sightings.csv")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4,6,21,24,25,26,27,28,29,30,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
# df = df[pd.notnull(df['date'])]

In [21]:
df.shape

(41972, 37)

In [5]:
df['date'] = pd.to_datetime(df['sighted_at'], format='%Y%m%d', errors='coerce')

In [6]:
df = df[pd.notnull(df['date'])]

In [7]:
df['day_of_week'] = df['date'].dt.weekday_name

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df['month'] = df['date'].dt.strftime('%B')

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df['year'] = df['date'].dt.year

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
df[['id','date','month','year','day_of_week']].sample(10)

          id       date      month  year day_of_week
13977  22214 2003-09-14  September  2003      Sunday
9104   13827 2001-11-16   November  2001      Friday
15737  25185 2001-09-15  September  2001    Saturday
5597    8180 1995-09-01  September  1995      Friday
12553  19754 2001-07-14       July  2001    Saturday
23777  38322 2006-02-06   February  2006      Monday
4226    5951 1999-11-16   November  1999     Tuesday
6940   10301 2000-12-17   December  2000      Sunday
25307  40834 2007-01-10    January  2007   Wednesday
29289  47010 2008-02-12   February  2008     Tuesday

In [11]:
dates_df = df[['id','date','month','year','day_of_week']]

In [12]:
dates_df['c'] = 1

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
months_df = dates_df.groupby('month')[['c']].sum()

In [21]:
months_df

                        c
month
1880-12-12 00:00:00     1
1899-06-30 00:00:00     1
April                2568
August               4072
December             2430
February             2290
January              2592
July                 4621
June                 4085
March                2644
May                  2586
November             3237
October              3592
September            3582

In [22]:
months_df.to_csv("ufo_months.csv")

In [23]:
years_df = dates_df.groupby('year')[['c']].sum()

In [24]:
years_df.to_csv("ufo_years.csv")

In [25]:
day_of_week_df = dates_df.groupby('day_of_week')[['c']].sum()

In [49]:
day_of_week_df.to_csv("ufo_days_of_.csv", index=False)