In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../datasets/UFO_sightings.csv')

In [4]:
list(df)

['id',
 'description',
 'duration',
 'location',
 'reported_at',
 'shape',
 'sighted_at',
 'geocoded_latitude',
 'geocoded_longitude',
 'city',
 'state',
 'country',
 'closest_LARGE_airport_distance',
 'closest_MEDIUM_airport_distance',
 'closest_SMALL_airport_distance',
 'closest_metro_distance',
 'closest_metro_pop',
 'closest_metro_m4',
 'closest_metro_m6',
 'population',
 'meteor_sighting',
 'text',
 'lat',
 'lon',
 'named_entities',
 'date',
 'Country',
 'URL',
 'Captions',
 'Class',
 'Class_1',
 'Class_2',
 'Class_3',
 'Class_4',
 'Class_5',
 'Class_6',
 'Class_7']

In [5]:
df[['id', 'geocoded_latitude', 'geocoded_longitude']].rename(index=str, columns={"A": "a", "B": "c"}).to_csv('sightings.csv', index=False)

         id  geocoded_latitude  geocoded_longitude
0         0          41.661256          -91.529911
1         1          43.034993          -87.922497
2         2          47.215094         -123.100707
3         3          38.951883          -92.333737
4         4          47.603832         -122.330062
5         6          46.877229          -96.789821
6         7          36.166286         -115.149225
7         8          39.909835          -75.323521
8         9          47.669414         -122.123877
9        10          47.479908         -122.203450
10       11          39.798976          -89.644369
11       12          42.123710          -71.178663
12       13          41.423967          -76.494113
13       14          33.732052          -84.919108
14       15          46.686484         -123.732947
15       16          28.542400          -81.379437
16       17          36.791225          -81.771232
17       18          40.811667          -73.806389
18       19          44.100351          -70.214776
19       20          26.452025          -81.948145
20       21          29.894695          -81.314539
21       23          34.092233         -117.435048
22       25          44.536547         -122.906876
23       26          41.413476          -73.308644
24       27          34.540281         -112.469518
25       28          47.822294         -122.875171
26       29          47.659409         -122.676632
27       30          60.543944         -145.758910
28       31          39.602061          -74.842665
29       32          38.449331          -78.868883
...     ...                ...                 ...
41942  1527                NaN                 NaN
41943  1528                NaN                 NaN
41944  1529                NaN                 NaN
41945  1530                NaN                 NaN
41946  1531                NaN                 NaN
41947  1532                NaN                 NaN
41948  1533                NaN                 NaN
41949  1534                NaN                 NaN
41950  1535                NaN                 NaN
41951  1536                NaN                 NaN
41952  1537                NaN                 NaN
41953  1538                NaN                 NaN
41954  1539                NaN                 NaN
41955  1540                NaN                 NaN
41956  1541                NaN                 NaN
41957  1542                NaN                 NaN
41958  1543                NaN                 NaN
41959  1544                NaN                 NaN
41960  1545                NaN                 NaN
41961  1546                NaN                 NaN
41962  1547                NaN                 NaN
41963  1548                NaN                 NaN
41964  1549                NaN                 NaN
41965  1550                NaN                 NaN
41966  1551                NaN                 NaN
41967  1552                NaN                 NaN
41968  1553                NaN                 NaN
41969  1554                NaN                 NaN
41970  1555                NaN                 NaN
41971  1556                NaN                 NaN

[41972 rows x 3 columns]